@page
@model CarnetEmprendedor.Pages.Eventos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.Categoria.CategoriaEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.PuntosEvento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.PuntosEvento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Fin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.Fin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Lugar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.Lugar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Evento.Imagen)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model =>model.Evento.Imagen)" alt="error" width="200" height="300" />
        </dd>
        <dt>
            Boletos disponibles
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Evento.NumBoletos)
        </dd>
    </dl>
</div>
<br />
<div id="div2" class="col-md-6">
    <div class="text text-center">
        <h4>Interesados</h4>
        <h4>@Model.NumInteresados asistirán</h4>
    </div>


    <table align="center" class="text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Interesados[0].Usuario.Matricula)
                </th>



                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Interesados)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Matricula)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<br />
<br />
<br />
<br />
<br />

<div>
    <a asp-page="./Interesados/Create/" asp-route-id="@Model.Evento.Id" class="btn btn-default">Registrarme</a> |
    <a asp-page="./Index">Regresar</a>
</div>
