@page
@model CarnetEmprendedor.Pages.Eventos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Todos los eventos</h2>

<p>
    <a asp-page="Create" class="btn">Crear evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].PuntosEvento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Nombre)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Evento[0].Descripcion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Fin)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Evento[0].Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento[0].Imagen)
            </th>*@
            <th>
                Boletos disponibles
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Evento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.CategoriaEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntosEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Fin)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>*@
            <td>
                <!--  <img id="logo" src="~/images/@item.Imagen" alt="error" />-->
                <img id="logo" src="@item.Imagen" alt="error" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumBoletos)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id"class="btn btn-sm btn-success glyphicon glyphicon-pencil"></a> |
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm glyphicon glyphicon-th-list"></a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
                @*<a asp-page="./ListaAsistencias/Index" asp-route-id="@item.Id">Asistencia</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
