@page
@model CarnetEmprendedor.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Usuarios</h2>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].ApellidoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].ApellidoM)
            </th>
            <th>
                Carrera
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Puntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                @*<a asp-page="./Details" asp-route-id="@item.Id">Detail</a>*@ 
                <a asp-page="./Delete" asp-route-id="@item.Id"  class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
            </td>
        </tr>
}
    </tbody>
</table>
